#ctnBox {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

form {
    width: 100%;
    margin-bottom: 80px;
}

.elemForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

textarea {
    width: 500px;
    height: 200px;
}

#btnSeeMore {
    background-color: rgb(43, 41, 41);
    border: 1px rgba(0, 0, 0, 0.65) solid;
    border-radius: 8px;
    padding: 7px 10px 7px 10px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
  }

  @media screen and (max-width: 550px) { 
    #ctnFigure {
        flex-direction: column;
    }

    input {
        width: 60%;
    }

    textarea {
        width: 80%;
    }

}

@media screen and (max-width: 300px) { 
    form {
        margin-bottom: 90px;
    }
    

}