<div id="ctnBox">
    <h2>Gestions des illustrations</h2>
    <div id="ctnAllItems">
        <div id="addItem">
            <i class="far fa-plus-square"></i>
        </div>

        <div [ngStyle]="{'background-image': 'url('+ item.url_image+')'}" *ngFor="let item of this.galleryItems$ | async| paginate: configPagination" class="item">
            <div class="ctnContent">
                <h3> {{item.titre}} </h3>
                <p class="descContent"> {{item.description}} </p>
                <ul class="listAdmin">
                    <li class="elemList">Voir +</li>
                    <li class="elemList">Editer</li>
                    <li class="elemList">Supprimer</li>
                </ul>
            </div>
            
        </div>
    </div>
    <pagination-controls id="gallery" (pageChange)="pageChanged($event)"></pagination-controls>
</div>