<div id="ctnBoxAdminPanel">
  <h1>Bienvenue sur votre panel d'administration !</h1>
  <ul id="adminNav">
    <div class="ctnElemNav">
      <i class="fas fa-paint-brush"></i>
      <li (click)="this.setSelectorNav('gallery')" class="elemAdminNav">Gestion des illustrations</li>
    </div>
    <div class="ctnElemNav">
      <i class="fas fa-atlas"></i>
      <li (click)="this.setSelectorNav('aboutMe')" class="elemAdminNav">Editer la biographie</li>
    </div>
    <div class="ctnElemNav">
      <i class="fas fa-user-cog"></i>
      <li class="elemAdminNav">Editer mon compte</li>
    </div>
    <div class="ctnElemNav">
      <i class="far fa-envelope"></i>
      <li class="elemAdminNav">Message(s) privé(s) : <span *ngIf="this.privateMessage$ | async;let nbPm"> {{nbPm.length}} </span> </li>
    </div>
    <div class="ctnElemNav">
      <i class="fas fa-sign-out-alt"></i>
      <li class="elemAdminNav" (click)="logout()">Déconnexion</li>
    </div>

  </ul>
  <div class="ctnBoxAdmin" *ngIf="selectorNav === 'gallery'">
    <app-edit-gallery></app-edit-gallery>
  </div>
  <div *ngIf="selectorNav === 'aboutMe'">

  </div>
  <div *ngIf="selectorNav === 'account'">

  </div>
  <div *ngIf="selectorNav === 'privateMessage'">

  </div>
</div>
